@model IEnumerable<Hetrogiupquyetdinh.Models.DiemCacNam>

@{
    ViewBag.Title = "Quản lí điểm các năm";
}

<h2>Quản lí điểm các năm</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nam2014)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nam2015)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nam2016)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nam2017)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nam2014)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nam2015)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nam2016)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nam2017)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
