
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Desicion Support System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/client/css/style.css" rel="stylesheet" />
    <script src="~/Content/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    <script src="~/Content/client/js/index.js"></script>



    <script src="~/Scripts/Validation.js"></script>
    <script>
       
        //here we will fetch states for the selected country
        $(document).ready(function () {
            $('#truongID').change(function () {

                var truong = parseFloat($(this).val());

                if (!isNaN(truong)) {
                    $.ajax({
                        url: '@Url.Action("GetDiemTruongByID", "Home")',
                        type: 'GET',
                        dataType: 'json',
                        data: { truongid: truong },
                        success: function (d) {
                            document.getElementById("diemtruong").value = d;
                            alert("Điểm chuẩn của trường " + $("#truongID :selected").text() + " là: " + d);
                            //console.log(document.getElementById("truongID").html());
                            //alert($("#truongID :selected").text());
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });
                }

            });
        });
    </script>
   
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Nhóm 19</a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Dữ liệu ngành", "QuanLiNganh", "Admin")</li>
                <li>@Html.ActionLink("Dữ liệu trường", "QuanLiTruong", "Admin")</li>
                <li>@Html.ActionLink("Dữ liệu sở thích", "QuanLiSoThich", "Admin")</li>
                <li>@Html.ActionLink("Dữ liệu Ngành/Sở thích", "QuanLiNganh_SoThich", "Admin")</li>
                <li>@Html.ActionLink("Dữ liệu Điểm các năm", "QuanLiDiemCacNam", "Admin")</li>
            </ul>
        </div>
    </nav>
    <div class="container" style="min-height:900px;">
        <div class="row text-center">
            <h1>
                <strong>Trợ giúp thí sinh điều chỉnh nguyện vọng ngành</strong>
            </h1>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <br>
        </div>
        @*đầu vào*@
        <div id="client-input" style="margin-top:50px">
                        @*<form action="/Home/Predict" class="col-sm-8 col-sm-offset-2">*@
            @using (Ajax.BeginForm("Predict","Home",null,
               new AjaxOptions
               {
                   //hiển thị ảnh khi đang load partial view( chưa load xong)
                   LoadingElementId = "progress",

                   //hiển thị partialview
                   UpdateTargetId = "giaithich",
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "POST"
               },
            new {@class="col-sm-8 col-sm-offset-2"}))
            {
            <div class="form-group row">
                <div class="col-sm-2">
                    <label for="">Trường xét tuyển</label>
                </div>
                <div class="col-sm-8">
                    @*<select name="" id="" class="form-control">
                        <option value="1">A</option>
                        <option value="2">A1</option>
                        <option value="3">D1</option>
                    </select>*@
                        @Html.DropDownList(
                        "truongID",
                        ViewBag.Truong as SelectList, "Chọn trường",
                        new { @class = "form-control" })
                    </div>
                <div id="diemtruong" style="display:none;">

                </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="">Khối xét tuyển</label>
                    </div>
                    <div class="col-sm-8">
                       @Html.DropDownList(
                        "khoiID",
                        ViewBag.Khoi as SelectList, "Chọn khối",
                        new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="">Sở thích</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownList(
                            "Id",
                            ViewBag.SoThich as SelectList, "Chọn sở thích",
                            new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="">Điểm thi</label>
                    </div>
                    <div class="col-sm-8">
                        @Html.TextBox("Diem", null, new { @class = "form-control", @placeholder = "Nhập điểm của bạn..." })
                        @*<input type="text" name="" id="" placeholder="Hãy nhập tổng điểm xét tuyển" class="form-control">*@
                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 text-center">
                        <input type="submit" id="btn-result"  name="submit" value="Xin trợ giúp" class="btn btn-info"  onclick="return IsValid();" />

                        @*<input type="button" name="" id="btn-result" class="btn btn-info" value="Xin trợ giúp" onclick="return IsValid();">*@
                    </div>
                </div>
            @*</form>*@
    }
           
        </div>
        <div id="progress" class="modal" style="margin-top:300px;margin-left:650px;">
            <div class="text-center"  style="">
                <img src="~/images/loader4.gif" />
            </div>
        </div>
        <div id="giaithich">

        </div>
     </div>
</body>

</html>

