@model Hetrogiupquyetdinh.ViewModels.BangQuyetDinh

@{
    ViewBag.Title = "Dự đoán";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

function myFunction1() {
    var x = document.getElementById("bangquyetdinh");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction2() {
    var x = document.getElementById("bangchuanhoa");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function myFunction3() {
    var x = document.getElementById("bangchuanhoatheotrongso");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}


</script>
<h2>Hệ trợ giúp quyết định: Chọn ngành</h2>
<p>
    <i class="fa fa-home" aria-hidden="true"></i>@Html.ActionLink("Trang chủ", "Index")
</p>
<div style="text-align:center;">
    <h2 style="color:blue;">@TempData["Yeucau"]</h2>
    <br/>

   <h2 style="color:blue;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>@TempData["Predict"]</h2>
</div>

@*Bảng quyết định*@
<a onclick="myFunction1()" style="cursor:pointer;"><h3 style="text-align:center;color:red;"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Bảng quyết định</h3></a>
<hr />
<div id="bangquyetdinh" style="display:none;">
    
        
        <table class="table" border="1">
            @for (int i = 0; i < ViewBag.Dong; i++)
            {
            <tr>
                @for(int j = 0; j < ViewBag.Cot; j++) {

                    //Tạo style cho 2 dòng cuối: giá trị max và trọng số
                    var yourStyle = "";
                    if (i > ViewBag.Dong - 3)
                    {
                        yourStyle = "color:red";
                    }
                 
                    else
                    {
                        yourStyle = "";
                        //any other conditions and logic
                    }



                <td style="@yourStyle;"  >
                  
                        @Model.Matrix[i, j]
                </td>
               }
            </tr>
             } 
        </table>
    
</div>


<a onclick="myFunction2()" style="cursor:pointer;"><h3 style="text-align:center;color:red"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Bảng chuẩn hóa</h3></a>
<hr />
<div id="bangchuanhoa" style="display:none;">
    
    <table class="table" border="1">
        @for (int i = 0; i < ViewBag.Dong-2; i++)
        {
            <tr>
                @for (int j = 0; j < ViewBag.Cot; j++)
                {

                    //Tạo style cho 2 dòng cuối: giá trị max và trọng số
                    var yourStyle = "";
                    if (i.ToString().Equals(ViewBag.DongMax))
                    {
                        yourStyle = "color:blue";
                    }
                    if (i > ViewBag.Dong - 3)
                    {
                        yourStyle = "color:red";
                    }
                    else
                    {
                        yourStyle = "";
                        //any other conditions and logic
                    }

                    <td style="@yourStyle">
                        @Model.ChuanHoaMatrix[i, j]
                    </td>
                }
            </tr>
        }
    </table>

</div>


<a onclick="myFunction3()" style="cursor:pointer;"><h3 style="text-align:center;color:red;"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Bảng chuẩn hóa theo trọng số</h3></a>
<hr />
<div id="bangchuanhoatheotrongso" style="display:none;">

    <table class="table" border="1">
        @for (int i = 0; i < ViewBag.Dong; i++)
        {
            <tr>
                @for (int j = 0; j < ViewBag.Cot+3; j++)
                {

                    //Tạo style cho 2 dòng cuối: giá trị max và trọng số
                    var yourStyle = "";
                    if (i.ToString().Equals(ViewBag.DongMax))
                    {
                        yourStyle = "background-color:green;color:white;";

                    }
                    else if (i > ViewBag.Dong - 3 )
                    {
                        yourStyle = "color:red";
                    }
                    else
                    {
                        yourStyle = "";
                        //any other conditions and logic
                    }

                    <td style="@yourStyle">

                        @Model.Matranlituong[i, j]
                    </td>
                }
            </tr>
        }
    </table>

</div>

<p>
    <i class="fa fa-home" aria-hidden="true"></i>@Html.ActionLink("Trang chủ", "Index")
</p>
