@model Hetrogiupquyetdinh.ViewModels.BangQuyetDinh

@{
    ViewBag.Title = "Dự đoán";
}

<h2>Hệ trợ giúp quyết định: Chọn ngành</h2>
<p>
    <i class="fa fa-backward"></i>@Html.ActionLink("Trang chủ", "Index")
</p>
<div style="text-align:center;">
    <h2>Kết quả trợ giúp</h2>
    <h2 style="color:blue;">@ViewBag.PredicttVien</h2>
</div>
<div>
    <h2 style="text-align:center;">Bảng quyết định</h2>
    <hr />
        
        <table class="table" border="1">
            @for (int i = 0; i < ViewBag.Dong; i++)
            {
            <tr>
                @for(int j = 0; j < ViewBag.Cot; j++) {

                    //Tạo style cho 2 dòng cuối: giá trị max và trọng số
                    var yourStyle = "";
                    if (i > ViewBag.Dong - 3)
                    {
                        yourStyle = "color:red";
                    }
                 
                    else
                    {
                        yourStyle = "";
                        //any other conditions and logic
                    }



                <td style="@yourStyle;"  >
                  
                        @Model.Matrix[i, j]
                </td>
               }
            </tr>
             } 
        </table>
    
</div>

<div>
    <h2 style="text-align:center;">Bảng chuẩn hóa</h2>
    <hr />

    <table class="table" border="1">
        @for (int i = 0; i < ViewBag.Dong-2; i++)
        {
            <tr>
                @for (int j = 0; j < ViewBag.Cot; j++)
                {

                    //Tạo style cho 2 dòng cuối: giá trị max và trọng số
                    var yourStyle = "";
                    if (i.ToString().Equals(ViewBag.DongMax))
                    {
                        yourStyle = "color:blue";
                    }
                    if (i > ViewBag.Dong - 3)
                    {
                        yourStyle = "color:red";
                    }
                    
                    else
                    {
                        yourStyle = "";
                        //any other conditions and logic
                    }

                    <td style="@yourStyle">

                        @Model.ChuanHoaMatrix[i, j]
                    </td>
                }
            </tr>
        }
    </table>

</div>

<div>
    <h2 style="text-align:center;">Bảng chuẩn hóa theo trọng số</h2>
    <hr />

    <table class="table" border="1">
        @for (int i = 0; i < ViewBag.Dong; i++)
        {
            <tr>
                @for (int j = 0; j < ViewBag.Cot+3; j++)
                {

                    //Tạo style cho 2 dòng cuối: giá trị max và trọng số
                    var yourStyle = "";
                    if (i > ViewBag.Dong - 3 )
                    {
                        yourStyle = "color:red";
                    }
                    else
                    {
                        yourStyle = "";
                        //any other conditions and logic
                    }

                    <td style="@yourStyle">

                        @Model.Matranlituong[i, j]
                    </td>
                }
            </tr>
        }
    </table>

</div>

<p>
    <i class="fa fa-backward" aria-hidden="true"></i>@Html.ActionLink("Trang chủ", "Index")
</p>
